<section id="portfolio">
    <div class="container mt-4">
        <div class="row text-center">
            <div class="col-lg-6 offset-lg-3 mt-4">
                <h1>Our Portfolio</h1>
            </div>
            <div class="col-12 mt-3">
                <button class="btn filter-button filter-button-xs active" data-filter="all">ALL</button>
                <button class="btn filter-button filter-button-xs" data-filter="app">APP</button>
                <button class="btn filter-button filter-button-xs" data-filter="card">CARD</button>
                <button class="btn filter-button filter-button-xs" data-filter="web">WEB</button>
            </div>

            <div class="gal mt-4">
                <img class="img-fluid filter app" src="../../../assets/images/portfolio/app1.jpg">
                <img class="img-fluid filter web" src="../../../assets/images/portfolio/web2.jpg">
                <img class="img-fluid filter web" src="../../../assets/images/portfolio/web1.jpg">
                <img class="img-fluid filter web" src="../../../assets/images/portfolio/web3.jpg">
                <img class="img-fluid filter card" src="../../../assets/images/portfolio/card2.jpg">
                <img class="img-fluid filter card" src="../../../assets/images/portfolio/card3.jpg">
                <img class="img-fluid filter app" src="../../../assets/images/portfolio/app2.jpg">
                <img class="img-fluid filter card" src="../../../assets/images/portfolio/card1.jpg">
                <img class="img-fluid filter app" src="../../../assets/images/portfolio/app3.jpg">
            </div>
        </div>
    </div>
</section>