<section id="about-us">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-md-6 offset-md-3">
                <h1>{{'About Us' | translate}}</h1>
                <p>{{'Lorem-1' | translate}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p>{{'Lorem-2' | translate}}</p>
                <div class="row">
                    <div class="col-2"><i class="fa fa-shopping-bag about-icon about-icon-sm"></i></div>
                    <div class="col-10">
                        <h4>{{'Eiusmod Tempor' | translate}}</h4>
                        <p>{{'Lorem-0' | translate}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"><i class="fa fa-image about-icon about-icon-sm"></i></div>
                    <div class="col-10">
                        <h4>{{'Magni Dolories' | translate}}</h4>
                        <p>{{'Lorem-0' | translate}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2"><i class="fa fa-comment about-icon about-icon-sm"></i></div>
                    <div class="col-10">
                        <h4>{{'Dolor Sitema' | translate}}</h4>
                        <p>{{'Lorem-0' | translate}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <img class="img-fluid" src="../../../assets/images/about-img.svg">
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12 col-lg-6 order-1 order-lg-0">
                <img class="img-fluid" src="../../../assets/images/about-extra-1.svg">
            </div>
            <div class="col-12 col-lg-6 order-0 order-lg-1">
                <h3 class="mb-4 mt-4 mt-lg-0">{{'Lorem-0' | translate}}</h3>
                <p>{{'Lorem-2' | translate}}</p>
                <p>{{'Lorem-2' | translate}}</p>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12 col-lg-6">
                <h3 class="mb-4">{{'Lorem-0' | translate}}</h3>
                <p class="mb-3">{{'Lorem-2' | translate}}</p>
                <p>{{'Lorem-2' | translate}}</p>
                <p>{{'Lorem-2' | translate}}</p>
            </div>
            <div class="col-12 col-lg-6">
                <img class="img-fluid" src="../../../assets/images/about-extra-2.svg">
            </div>
        </div>
    </div>
</section>