<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top ">
  <div class="container">
    <a class="navbar-brand logo" href="#">Aphrie Task</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="#intro" >Home </a>
        <a class="nav-item nav-link" href="#about-us" >About Us</a>
        <a class="nav-item nav-link" href="#portfolio" >Portfolio</a>
        <a class="nav-item nav-link" href="#team" >Team</a>
        <a class="nav-item nav-link" href="#contact" >Contact Us</a>
      </div>
    </div>
  </div>
</nav>

<!--Intro-->
<section class="mb-4 mt-5" id="intro">
  <div class="intro intro-sm">
    <div class="row ">
      <div class="col-6 col-lg-5 offset-lg-1">
        <h1 class="mt-4">We provide <br><span>solutions</span><br>for your business!</h1>
        <button class="btn intro-btn ">Get Started</button>
        <button class="btn intro-btn ml-md-4">Our Services</button>
      </div>
      <div class="col-6 mt-5 mt-lg-0">
        <img class="img-fluid" src="../assets/images/intro-img.svg">
      </div>
    </div>
  </div>
</section>

<!--Content-->
<app-aboutus></app-aboutus>
<app-whyus></app-whyus>
<app-portfolio></app-portfolio>
<app-testimonials></app-testimonials>
<app-ourteam></app-ourteam>
<app-ourclients></app-ourclients>
<app-contactus></app-contactus>

  <!--Footer-->
<footer class="mt-4">
  <div class=" p-5 footer text-left">
    <div class="row">
          <div class="col-md-6 col-lg-3">
            <h2 class="mb-2 mb-md-4">WELCOME</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
          </div>
          <div class="col-md-6 col-lg-3 mt-4 mt-md-0 text-left">
            <p class="mb-2 mb-md-4"><b>USEFUL LINKS</b></p>
              <a class="nav-item nav-link" href="#" >Home </a>
              <a class="nav-item nav-link" href="#" >About Us</a>
              <a class="nav-item nav-link" href="#" >Services</a>
              <a class="nav-item nav-link" href="#" >Terms of service</a>
              <a class="nav-item nav-link" href="#" >Privacy policy</a>
          </div>
          <div class="col-md-6 col-lg-3 mt-4 mt-md-0">
            <p class="mb-2 mb-md-4"><b>CONTACT US</b></p>
            <p>A108 Adam Street<br> New York, NY 53522<br> United States</p>
            <p><b>Phone:</b>+1 5589 55488 55</p>
            <p><b>Email:</b> info@example.com</p>
            <div class="mt-3">
            <a href="#" class="fa fa-twitter btn-social"></a>
            <a href="#" class="fa fa-facebook btn-social"></a>
            <a href="#" class="fa fa-instagram btn-social"></a>
            <a href="#" class="fa fa-google btn-social"></a>
            <a href="#" class="fa fa-linkedin btn-social"></a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mt-4 mt-lg-0">
            <p class="mb-2 mb-md-4"><b>OUR NEWSLETTER</b></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
            <div class="input-group mt-4">
              <input type="email" class=" form-control form-control-sm w-25">
              <button class="btn btn-sm newsbtn" type="submit">Subscribe</button>
            </div>
          </div>
      </div>
  </div>
  <div class=" copyright-text text-center p-4">
    <p>
      &copy; 2020 All Rights Reserved
      <i class="fa fa-heart hrt"></i> By
      <a>Memo</a>
  </p>
</div>
</footer>



<!--Up-Button-->
<div class="scroll-up">
  <a href="#"><i class="fa fa-angle-up"></i></a>
</div>