    <div class="bg-colored text-center p-5">
        <div class="row">
            <div class="col-12 mx-auto my-5">
                <h1>{{'Why Us' | translate}}</h1>
                <p>{{'Lorem-0' | translate}}</p>
            </div>
            <div class="col-12 col-lg-3 offset-lg-1 mb-4">
                <div class="card p-4 why-card shadows">
                    <div class="card-body">
                        <i class="fa fa-android fa-3x mb-2"></i>
                      <h5 class="card-title">{{'Corporis dolorem' | translate}}</h5>
                      <p class="card-text">{{'Lorem-0' | translate}}</p>
                      <a href="#" class="">{{'Read more' | translate}}</a>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-lg-3 mx-auto mb-4">
                <div class="card p-4 why-card shadows">
                    <div class="card-body">
                        <i class="fa fa-globe fa-3x mb-2"></i>
                      <h5 class="card-title">{{'Voluptates dolores' | translate}}</h5>
                      <p class="card-text">{{'Lorem-0' | translate}}</p>
                      <a href="#" class="">{{'Read more' | translate}}</a>
                    </div>
                  </div>
            </div>
            <div class="col-12 col-lg-3 offset-lg-right-1 mb-4">
                <div class="card p-4 why-card shadows">
                    <div class="card-body">
                        <i class="fa fa-envelope fa-3x mb-2"></i>
                      <h5 class="card-title">{{'Eum ut aspernatur' | translate}}</h5>
                      <p class="card-text">{{'Lorem-0' | translate}}</p>
                      <a href="#" class="">{{'Read more' | translate}}</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-3 mt-3">
                <h1>{{'274' | translate}}</h1>
                <p>{{'Clients' | translate}}</p>
            </div>
            <div class="col-6 col-lg-3 mt-3">
                <h1>{{'421' | translate}}</h1>
                <p>{{'Projects' | translate}}</p>
            </div>
            <div class="col-6 col-lg-3 mt-3">
                <h1>{{'1,364' | translate}}</h1>
                <p>{{'Hours of Support' | translate}}</p>
            </div>
            <div class="col-6 col-lg-3 mt-3">
                <h1>{{'18' | translate}}</h1>
                <p>{{'Hard Workers' | translate}}</p>
            </div>
        </div>
    </div>