h1 ,p{
    color: #617289;
}

.carousel-indicators{
    top: 107%;
}
.carousel-indicators li,
.carousel-indicators li.active {
    width: 11px;
    height: 11px;
    margin: 1px 5px;
    border-radius: 50%
}

.carousel-indicators li {
    border: none;
    background: #e2e2e2;
}

.carousel-indicators li.active {
    background: #4c80f6;
}

@media (min-width: 768px) and (max-width: 1023px){
    .carousel-item img{
        margin-top: 60px;
    }
}
@media (max-width: 767px){
    .text-center-sm{
        text-align: center !important;
    }
}
