<section id="team">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-lg-6 offset-lg-3 my-5">
                <h1>Our Team</h1>
                <p>Lorem Ipsum is simply dummy text of the printing typesetting, remaining essentially unch</p>
            </div>
            <div class="row">
                <div class="col-6 col-lg-3">
                    <img class="img-fluid rounded-circle w-75" src="../../../assets/images/team-1.jpg">
                </div>
                <div class="col-6 col-lg-3">
                    <img class="img-fluid rounded-circle w-75" src="../../../assets/images/team-2.jpg">
                </div>
                <div class="col-6 col-lg-3">
                    <img class="img-fluid rounded-circle w-75 mt-3 mt-lg-0" src="../../../assets/images/team-3.jpg">
                </div>
                <div class="col-6 col-lg-3">
                    <img class="img-fluid rounded-circle w-75 mt-3 mt-lg-0" src="../../../assets/images/team-4.jpg">
                </div>
            </div>
        </div>
    </div>
</section>